<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date{"yyyy-MM-dd'T'HH:mm:ss.SSS'Z'",UTC} %-5level [%logger{0}] - %msg%n</pattern>
		</encoder>
	</appender>
	<logger name="com.michalkowol" level="DEBUG"/>
	<root level="INFO">
		<appender-ref ref="STDOUT"/>
	</root>
</configuration>
